@using Microsoft.AspNetCore.Localization

@{
    var returnUrl = ViewContext.HttpContext.Request.Path;
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LanguageService.GetCultures()
    .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName }).ToList();
}

<li class="nav-item">
    <form asp-action="ChangeLanguage" asp-controller="Home" method="post">
        <input type="hidden" id="returnUrl" name="returnUrl" value="@returnUrl" />
        <select id="culture"
                name="culture"
                class="form-control"
                onchange="this.form.submit();"
                asp-items="cultureItems"
                asp-for="@requestCulture.RequestCulture.UICulture.Name">
        </select>
    </form>
</li>
